@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-Poppins scroll-smooth;
}
body {
  @apply box-border bg-gray-900 text-gray-100;
}
.btn-primary {
  @apply bg-cyan-600 font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
}

.aboutImg::after {
  @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-full absolute bg-gray-600 -z-10;
}

.swiper-pagination-bullet {
  @apply bg-white;
}

input,
textarea {
  @apply bg-gray-700 outline-none rounded-lg p-3;
}
::placeholder {
  @apply text-lg;
}

::selection {
  @apply bg-cyan-600;
}
/* projects slider css */
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  background-color: gray;
  width: 30px;
  line-height: 31px;
  height: 30px;
}
.technology {
  word-spacing: 13px;
}
.slick-dots {
  bottom: -19px;
}
.botBorder {
  border: 3px solid #0cbf52;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  margin-top: 2px !important;
}
.slick-slide img {
  display: block;
  height: 360px !important;
  /* object-fit: contain !important; */
}
.portfolios img {
  height: 200px;
  width: 100%;
  /* object-fit: contain; */
}
@media screen and (max-width: 639px) {
  .slick-slide img {
    display: block;
    height: auto !important;
    object-fit: contain !important;
  }
}
@media screen and (max-width: 767px) {
  .portfolios img {
    height: auto;
    height: 230px;
  }
}

/* projects_details css */

.projects_details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 25px; */
  column-gap: 25px;
  row-gap: 35px;
}
@media screen and (max-width: 967px) {
  .projects_details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
  }
}
@media screen and (max-width: 667px) {
  .projects_details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  #about .title {
    text-align: left;
    word-spacing: 3px;
  }
  #hireme .title {
    text-align: left;
    word-spacing: 3px;
  }
}
@media screen and (max-width: 340px) {
  .margin__left {
    flex-direction: column;
  }
}
/* paginationActive css */
.paginationActive {
  background-color: #3b82f6;
  color: white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button,
[role="button"] {
  cursor: pointer;
  /* margin: 18px !important; */
}
.paginationBttns {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 36px;
}
.paginationBttns li {
  margin: 8px;
  height: 25px;
}

.pageItem {
  margin: 0 12px;
}

.previousBttn,
.nextBttn {
  margin: 0 5px;
  padding: 3px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.paginationDisabled {
  color: #ccc;
  pointer-events: none;
}

@media screen and (max-width: 412px) {
  .paginationBttns {
    font-size: 14px;
  }
  .paginationBttns li {
    margin: 5px;
    height: 23px;
  }
}
